<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pan update form</title>
    <style>
        table,
        th,
        td{
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
            border-spacing: 5px;
            background-color: aliceblue;
        }
    </style>
    
    <div style="background-color: rgba(250, 235, 215, 0.911);">
            <div style="background-color: brown; color: white;">
                <h5 style="text-align: center;">Request for the new PAN/ update the necessary changes
                </h5>
                <p style="font-style: italic; font-weight: normal; text-align: center;">*Fields marked as important instructions</p>
    
            </div>
            <div style="font-weight: bold;">
                <table style="width: 100%;">
                    <tr>
                        <td>
                        
                            <p style="display: inline;">*whether citizen of india</p>
                            <input type="radio" id="r1" name = "ra1" value="yes">
                            <label for="yes">yes</label>
                            <input type="radio" id="r2" name = "ra2" value="no">
                            <label for="no">no</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        
                            <br><p style="display: inline;">*permanent account number(PAN)</p></br>
                            <input type="textarea" id="ta" name="ta0">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br><p style = "display: inline;">1 . Name</p></br>
                            <input type="radio" id="r3" name="ra3" value="shri/Mr">
                            <label for="shri/Mr">shri/Mr</label>
                            <input type="radio" id="r4" name="ra4" value="smt/Mrs">
                            <label for="smt/Mrs">smt/Mrs</label>
                            <input type="radio" id="r5" name="ra4" value="kumari/Ms">
                            <label for="kumari/Ms">kumari/Ms</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                                <p style="display: inline;">Last Name/Surname </p>
                                <input type="textarea" id="t1" name="ta1" >&emsp; &emsp;
                                <p style="display: inline;">First Name</p>
                                <input type="textarea" id="t2" name="ta2">
                        </td>
                    </tr>
                    <tr>
                        <td >
                                <p style="display: inline;">*Name as you would like printed on the card(eg.,shri,smt,kumari,late,Dr,CA,M/s,Alias</p>
                                <th rowspan="">
                                <input type="textarea" id="t3" name="ta4" value=""></th>
                         </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                                <p style="display: inline;">2.Details of parent</p>
                        </td>
                    </tr>
                    <tr>     
                        <td>     
                         <br><p style="display: inline;">whether mother is a single parent and you wish to apply for pan by furnishing the name of your mother only</p></br>
                         <th rowspan="yes No">
                         <input type="radio" id="r6" name="ra6" value="yes">
                         <label for="yes">yes</label>
                         <input type="radio" id="r7" name="ra7" value="No">
                         <label for="No">No</label></th>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">*Fathers name(married women should give fathers name only)</p>
                        </td>
                    </tr>
                             <tr>
                                 <td colspan="2">
                                <p style="display: inline;">Last name/sur name </p>
                                <input type="textarea" id="t5" name="ta5">&emsp; &emsp;
                                <p style="display: inline;">First Name</p>
                                <input type="textarea" id="t6" name="ta6">
                                 </td>
                             </tr>
                            
                        
                    <tr>
                        <td>
                            <p style="display: inline;">Mothers name(This field is optional)</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p style="display: inline;">Last name/sur name</p>
                            <input type="textarea" id="t7" name="ta7" >&emsp; &emsp;
                            <p style="display: inline;">First name</p>
                            <input type="textarea" id="t8" name="ta8">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            <p style="display: inline;">*select parent name which is to be printed on the card</p>
                            <br >(in case no option is provided PAN will be provided with father's name)</br>
                            <th value="Father name Mother name">
                            <input type="radio" id = "r8" name="ra8" value="Father name">
                            <label for="Father name">Father name</label>
                            <input type="radio" id="r9" name="ra9" value="Mother name">
                            <label for="Mother name">Mother name</label></th>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            <p style="display: inline;">3.*Date of birth &emsp;</p>
                            <th rowspan="DD">
                            <input type="date" id="d1" name="da1" value="DD"></th>
                           
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <p style="display: inline;">4.*Gender &emsp;</p>
                            <th rowspan="Male Female Transgender">
                            <input type="radio" id="r10" name="ra10" value="Male">
                            <label for="Male">Male</label>
                            <input type="radio" id="r11" name="ra11" value="Female">
                            <label for="Female">Female</label>
                            <input type="radio" id="r12" name="ra12" value="Transgender">
                            <label for="Transgender">Transgender</label></th>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display:inline">Photo Mismatch</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">Signature Mismatch</p>
                        </td>
                    </tr>
                    <tr>
                        <td >
                           <p style="display: inline;">5.*Address for communication</p>
                           <th rowspan="Residential office">
                           <input type="radio" id="r13" name="ra13" value="Residential">
                           <label for="Residential">Residential</label>
                           <input type="radio" id="r14" name="ra14" value="office">
                           <label for="office">office</label></th>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">Office Name(to be filled only in case of office address)</p>
                            <th rowspan="">
                            <input type="textarea" id="t9" name="ta9" value=""></th>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <p style="display: inline;">Flat/Door/Block No.</p>
                            <th rowspan="">
                            <input type="textarea" id="t10" name="ta10" value=""></th>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <p style="display: inline;">Name of premises/Building/Village</p>
                            <th rowspan="">
                            <input type="textarea" id="t11" name="ta11" value=""></th>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <p style="display: inline;">Road/Street/Lane/Postoffice</p>
                            <th rowspan="">
                            <input type="textarea" id="t12" name="ta12" value="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">Area/Locality/Taluka/Sub-division</p>
                            <th rowspan="">
                               <input type="textarea" id="t13" name="ta13" value=""> 
                            </th>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">Town/City/District</p>
                            <th rowspan="">
                                <input type="textarea" id="t14" name="ta14" value="">
                            </th>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">State/Union Territory</p>
                            <th rowspan="">
                                <input type="search" id="t15" name="ta15" value="">
                            </th>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">PIN(indicating pin is mandatory)</p>
                            <th rowspan="">
                                <input type="textarea" id="t16" name="ta16" value="">
                            </th>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">Country</p>
                            <th rowspan="">
                                <input type="textarea" id="t17" name="ta17" value="">
                            </th>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">Zip</p>
                            <th rowspan="">
                                <input type="textarea" id="t18" name="ta18" value="">
                            </th>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">If you desire to update your other address give required details and submit proof of other address also</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">6.*Telephone number</p>
                            <p style="display: ruby-text;">(country code is compulsory)</p>
                            
                            <th rowspan="please select country code">
                                <input type="tel" id="te1" name="tel1" value="">
                                <br><input type="radio" id="r15" name="ra15" value="">
                                <label for="">Mobile No.</label>
                                <input type="radio" id="r16" name="ra16" value="">
                                <label for="">Telephone No.</label></br>
                                <br><input type="textarea" id="t19" name="ta19" value=""></br>
                                <label for="">Area/std code</label>
                                <br><input type="textarea" id="t20" name="ta20" value=""></br>
                                <label for="">Telephone No./Mobile No.</label> 
                            </th>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">Email id</p>
                            <th rowspan="">
                                <input type="textarea" width="50px" size="35px" id="t21" name="ta21" value="">
                            </th>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">In case of citizen of india, then</p>
                            <th rowspan="">
                                <input type="radio" id="r17" name="ra17" value="AADHAAR">
                                <label for="AADHAAR">AADHAAR</label>
                                <input type="radio" id="r18" name="ra18" value="EID">
                                <label for="EID">EID</label>
                            </th>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">7.*AADHAAR number:</p>
                            <th rowspan="">
                                <input type="textarea" id="t22" name="ta22" value="">
                                <br><p style="display: inline;">In case AADHAAR number is provided, then proof of AADHAAR along with supporting documents is to be submitted to NSDL</p>
                            </th>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">* Name as per AADHAAR or as per the enrollment ID of aadhar application form</p>
                            <th rowspan="">
                                <input type="textbox" size="80px" width="2px" id="tb23" name="tb23" value="">
                            </th>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">8.GSTN</p>
                            <th rowspan="">
                                <input type="textarea" id="t23" name="t23" value="">
                            </th>

                        </td>
                    </tr>
                    <tr>
                        <td>
                           <p style="display: inline;">9.Mention other permanent account numbers(PANs) if any,Inadvertently alloted to you.Submit proof of surrended PAN(s) along with the application</p>

                        </td>
                    </tr>
                    <tr>
                        <td >
                            <label for="">PAN1</label>
                            <input type="textbox" id="tb2" name="tb2" value="">
                            
                            <th rowspan="">
                                <label for="">PAN2</label>
                            <input type="textbox" id="tb3" name="tb3" value=""></th>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="">PAN3</label>
                            <input type="textbox" id="tb4" name="tb4" value="">
                            <th rowspan="">
                                <label for="">PAN4</label>
                                <input type="textbox" id="tb5" name="tb5" value="">
                            </th>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="display: inline;">10.Verification</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p style="display: inline;">I/We 
                            <input type="textbox" id="tb6" name="tb6" >,the applicant in the capacity of <input type="text" id="tb7" name="tb7">
                            do hereby declare that what is stated above is true to my knowledge the best of my information and belief.</p>
                            <br><p style="display: inline;">I have enclosed <input type="textarea" id="tb7" name="tb7">(number of documents) in support of proposed changes/corrections</p></br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label for="">Place</label>&emsp;
                            <input type="textarea" id="tb8" name="tb8">
                        </td>
                    </tr>
                    <tr>
                        <td >
                            
                            <p style="display: inline;">Verified Today &emsp; &emsp; <input type="date" id="da1" name="da1"></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            
                            <p style="display: inline;">I/We have enclosed <br>
                            <input type="textarea" id="ta24" name="ta24" value=""> as a proof of identity<input type="textarea" id="ta25" 
                            name="ta25" value=""> as a proof of address<input type="textarea" id="ta26" name="ta26" value=""> as proof of date of birth and as proof of PAN alloted.</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            
                           <p style="display: inline;">Whether you wish to have?</p>&emsp; &emsp; &emsp;
                           <label for="">Physical PAN & e-PAN card</label>
                            <input type="radio" id="r19" name="ra19">&emsp; &emsp; &emsp;
                            <label for="">only e-PAN card</label>
                            <input type="radio" id="r20" name="ra20">
                         </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p style="display: inline;">Other details</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p style="display: inline;">i) Depository account details</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label for="">DP ID :</label>
                            <input type="textbox" id="tb9" name="tb9">&emsp; &emsp;
                            <label for="">Client ID:</label>
                            <input type="textbox" id="tb10" name="tb10">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p style="display: inline;">ii) Payment Details</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p style="display: inline;">Online Payment</p>
                        </td>
                    </tr>
                </table>
                <p style="display :inline">For paperless application</p> &emsp; &emsp;
                <label for="">Yes</label>
                <input type="radio" id="r21" name="r21" value=""> &emsp; &emsp;
                <label for="">No</label>
                <input type="radio" id="r22" name="r22" value="">
                <br><label for="">DSC</label></br>
                <input type="radio" id="r23" name="r23" value="">
                <input type="search" id="s1" name="s1" value="please select">
                <br><p style="display: inline;">Upload Photo</p> &emsp; &emsp;&emsp;
                <input type="button" id="b1" size="10px"  name="b1" value="choose file"></br>
                <br><p style="display: inline;">Upload Document</p>&emsp; &emsp; &emsp;
                <input type="button" id="b2" size="10px" name="b2" value="choose file"></br>
                <br><p style="display: inline;">Upload Signature</p>&emsp; &emsp; &emsp;
                <input type="button" id="b3" size="10px" name="b3" value="choose file"></br>
                <br><label for="">Already Uploaded Photo</label>
                <input type="textbox" id="tb19" name="tb19"> </br>&emsp; &emsp;
                <br><label for="">Already Uploaded Signature</label>
                <input type="textbox" id="tb21" name="tb21"></br>
                <br><label for="">Already Uploaded Documents</label>
                <input type="textbox" id="tb22" size="20px" width="50px" height="200px" name="tb22"></br>
                <align center><input type="button" id="b4" value="submit" ></align>
                
                



            </div>
        </div>
    
</head>
<body>
    
</body>
</html>








                    


                                    
               
